# Generated by scripts/openapi.ts — do not edit. Run `npm run openapi`.
openapi: 3.1.0
info:
  title: Coursiva Platform Console API
  version: 0.1.0
  description: |-
    Admin API for the Coursiva platform console (Laravel). Generated from the frontend contract — do not edit by hand; run `npm run openapi`.

    Conventions: snake_case JSON; `{ data }` resources; `{ data, meta }` pagination; 422 `{ message, errors }`; ISO-8601 UTC timestamps; USD amounts. Auth is a Laravel Sanctum SPA session cookie plus the `X-XSRF-TOKEN` header. Every endpoint enforces its `x-permission`; the server writes the `x-audit` entry on success. See docs/api/README.md.
servers:
  - url: https://api.coursiva.io/api/v1/admin
    description: Production
  - url: http://localhost:8000/api/v1/admin
    description: Local Laravel
tags:
  - name: Analytics
    description: Growth, usage, system health, AI cost and experiment analytics. Tenant figures are derived from the tenant table.
  - name: Announcements
    description: Broadcasts to tenant admins (banner, email or in-app). Suspended tenants are never reached.
  - name: Audit
    description: Append-only audit trail. Entries are written server-side by other endpoints; there is no create endpoint.
  - name: Auth
    description: Laravel Sanctum SPA session with Fortify-style two-factor authentication and password confirmation.
  - name: Backup
    description: Platform backups, point-in-time recovery, two-person restores, backup policy and per-tenant data exports. Restores move `staged` → `approved` → `running` → `completed` (or `staged` → `cancelled`) on the server.
  - name: Billing
    description: Revenue, invoices and dunning, usage overages, plans & pricing, and promo codes.
  - name: Entitlements
    description: Module × plan entitlement matrix and plan limits. Overrides are stored per module and plan; the API always exchanges arrays of cells.
  - name: Extensions
    description: "Paid extension catalogue: prices, visibility, plan inclusion, the all-access bundle and selling rules."
  - name: Governance
    description: Compliance & privacy (DSARs, retention, sub-processors), trust & moderation, policies & terms, data residency, abuse signals, rate limits and IP blocks.
  - name: Media
    description: "Platform media settings: live-room policies and allowances, video DRM and providers, storage & delivery backends."
  - name: Overview
    description: Dashboard headline numbers. Figures only — the client applies labels and colour bands.
  - name: Platform
    description: Feature flags, system status & incidents, email deliverability, certificate registry, standards imports, API keys and webhooks.
  - name: Settings
    description: "Platform-wide configuration: general, security and notification settings, the integration marketplace, and tax & invoicing."
  - name: Shell
    description: "Console-wide endpoints: status pill, navigation badges, notifications and global search."
  - name: Staff
    description: Platform staff (the console login users), invitations, access reviews, just-in-time elevation and role permissions. Nobody can change their own role or scope, suspend/reinstate/elevate themselves or confirm their own review; Owner accounts cannot be changed here (422).
  - name: Support
    description: "Tenant support inbox: tickets, replies and internal notes, SLA tracking and tenant context."
  - name: Tenants
    description: Tenant directory, provisioning and per-tenant administration.
paths:
  /analytics/ai:
    get:
      operationId: getAnalyticsAi
      tags:
        - Analytics
      summary: AI usage, cost, margin and routing settings
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/AiUsage"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `analytics.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: analytics.view
  /analytics/ai/settings:
    put:
      operationId: putAnalyticsAiSettings
      tags:
        - Analytics
      summary: Update the AI monthly cost cap and/or model routing policy
      description: Send at least one field. `monthly_cap` is whole dollars between 100 and 100,000.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AiSettingsInput"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/AiUsage"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: Set the AI monthly cost cap to ${cap} · Changed AI model routing to {policy}
        category: Billing
  /analytics/ai/tenants/{id}/throttle:
    post:
      operationId: postAnalyticsAiTenantsByIdThrottle
      tags:
        - Analytics
      summary: Throttle a tenant to the low-cost AI model
      parameters:
        - name: id
          in: path
          required: true
          description: Tenant id (must have AI studio usage), e.g. `tn_amplify`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/AiUsage"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: Throttled {name} to the low-cost AI model
        category: Billing
    delete:
      operationId: deleteAnalyticsAiTenantsByIdThrottle
      tags:
        - Analytics
      summary: Restore full AI speed for a tenant
      parameters:
        - name: id
          in: path
          required: true
          description: Tenant id (must have AI studio usage), e.g. `tn_amplify`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/AiUsage"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: Restored full AI speed for {name}
        category: Billing
  /analytics/experiments:
    get:
      operationId: getAnalyticsExperiments
      tags:
        - Analytics
      summary: Experiments with lift, confidence and verdict
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Experiments"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `analytics.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: analytics.view
  /analytics/experiments/{id}/promote:
    post:
      operationId: postAnalyticsExperimentsByIdPromote
      tags:
        - Analytics
      summary: Promote a running experiment to 100% (enables its flag for all tenants)
      parameters:
        - name: id
          in: path
          required: true
          description: Experiment id, e.g. `ex_site_builder`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Experiments"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: platform.manage
      x-audit:
        text: Promoted experiment "{name}" to 100%
        category: Flags
  /analytics/experiments/{id}/stop:
    post:
      operationId: postAnalyticsExperimentsByIdStop
      tags:
        - Analytics
      summary: Stop a running experiment (traffic returns to control)
      parameters:
        - name: id
          in: path
          required: true
          description: Experiment id, e.g. `ex_site_builder`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Experiments"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: platform.manage
      x-audit:
        text: Stopped experiment "{name}" — traffic returned to control
        category: Flags
  /analytics/growth:
    get:
      operationId: getAnalyticsGrowth
      tags:
        - Analytics
      summary: Growth funnel, cohorts, health scores and onboarding
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Growth"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `analytics.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: analytics.view
  /analytics/health:
    get:
      operationId: getAnalyticsHealth
      tags:
        - Analytics
      summary: Service status, job queues and email deliverability
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Health"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `analytics.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: analytics.view
  /analytics/health/queues/{queue}/retry:
    post:
      operationId: postAnalyticsHealthQueuesByQueueRetry
      tags:
        - Analytics
      summary: Requeue failed jobs on a queue
      parameters:
        - name: queue
          in: path
          required: true
          description: Queue name, e.g. `emails`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/QueueRetryResult"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: platform.manage
      x-audit:
        text: Requeued {n} failed jobs on the {queue} queue
        category: Flags
  /analytics/usage:
    get:
      operationId: getAnalyticsUsage
      tags:
        - Analytics
      summary: Metered usage vs capacity and top consumers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Usage"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `analytics.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: analytics.view
  /announcements:
    get:
      operationId: getAnnouncements
      tags:
        - Announcements
      summary: Sent announcements, newest first
      parameters:
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          description: Items per page (max 100, default 25).
          schema:
            type: integer
      responses:
        "200":
          description: Paginated list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Announcement"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
                  links:
                    type: object
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `announcements.send`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: announcements.send
    post:
      operationId: postAnnouncements
      tags:
        - Announcements
      summary: Send an announcement
      description: Message is trimmed and must be 1–500 characters. `recipients` is the audience reach at send time.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewAnnouncement"
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Announcement"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `announcements.send`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: announcements.send
      x-audit:
        text: 'Broadcast to {audience}: "{message}"'
        category: Tenants
  /announcements/audiences:
    get:
      operationId: getAnnouncementsAudiences
      tags:
        - Announcements
      summary: Audiences and how many tenants each reaches
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AudienceReach"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `announcements.send`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: announcements.send
  /audit:
    get:
      operationId: getAudit
      tags:
        - Audit
      summary: Audit entries, newest first
      parameters:
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          description: Items per page (max 100, default 25).
          schema:
            type: integer
        - name: search
          in: query
          required: false
          description: Case-insensitive contains search.
          schema:
            type: string
        - name: category
          in: query
          required: false
          schema:
            type: string
            enum:
              - Tenants
              - Billing
              - Flags
              - Security
              - Auth
        - name: tenant_id
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Paginated list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditEntry"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
                  links:
                    type: object
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `audit.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: audit.view
  /audit/export:
    get:
      operationId: getAuditExport
      tags:
        - Audit
      summary: Export audit entries as CSV
      parameters:
        - name: search
          in: query
          required: false
          schema:
            type: string
        - name: category
          in: query
          required: false
          schema:
            type: string
            enum:
              - Tenants
              - Billing
              - Flags
              - Security
              - Auth
        - name: tenant_id
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: File download (`audit-log.csv`).
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `audit.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: audit.view
      x-audit:
        text: Exported {n} audit entries
        category: Security
  /auth/confirm-password:
    post:
      operationId: postAuthConfirmPassword
      tags:
        - Auth
      summary: Unlock an idle-locked console (password confirmation)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                password:
                  type: string
      responses:
        "204":
          description: No content.
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: authenticated
      x-audit:
        text: Unlocked the console after an idle lock
        category: Auth
  /auth/login:
    post:
      operationId: postAuthLogin
      tags:
        - Auth
      summary: Sign in with email and password
      description: "When the account has 2FA, returns `two_factor_required: true` and the session holds the pending user until the challenge. Rate-limit per email + IP."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginInput"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/LoginResult"
                additionalProperties: false
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security: []
      x-audit:
        text: Signed in to the platform console
        category: Auth
  /auth/logout:
    post:
      operationId: postAuthLogout
      tags:
        - Auth
      summary: Sign out
      responses:
        "204":
          description: No content.
      security: []
      x-audit:
        text: Signed out
        category: Auth
  /auth/me:
    get:
      operationId: getAuthMe
      tags:
        - Auth
      summary: The signed-in staff user and effective permissions
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/User"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: authenticated
  /auth/two-factor-challenge:
    post:
      operationId: postAuthTwoFactorChallenge
      tags:
        - Auth
      summary: Complete sign-in with a TOTP code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  pattern: ^[0-9]{6}$
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/User"
                additionalProperties: false
        "419":
          description: Session or CSRF token expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security: []
      x-audit:
        text: Signed in to the platform console (2FA)
        category: Auth
  /backup:
    get:
      operationId: getBackup
      tags:
        - Backup
      summary: Backup health summary and destinations
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/BackupSummary"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: platform.view
  /backup/activity:
    get:
      operationId: getBackupActivity
      tags:
        - Backup
      summary: Backup activity feed, newest first
      parameters:
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          description: Items per page (max 100, default 25).
          schema:
            type: integer
      responses:
        "200":
          description: Paginated list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BackupActivity"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
                  links:
                    type: object
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: platform.view
  /backup/drills:
    post:
      operationId: postBackupDrills
      tags:
        - Backup
      summary: Run a restore drill (sandbox restore of a tenant)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/BackupSummary"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: platform.manage
      x-audit:
        text: Ran a restore drill (sandbox restore of {tenant})
        category: Security
  /backup/exports:
    get:
      operationId: getBackupExports
      tags:
        - Backup
      summary: Per-tenant data exports, newest first
      parameters:
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          description: Items per page (max 100, default 25).
          schema:
            type: integer
      responses:
        "200":
          description: Paginated list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TenantExport"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
                  links:
                    type: object
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: platform.view
    post:
      operationId: postBackupExports
      tags:
        - Backup
      summary: Queue a per-tenant data export (download link valid 7 days)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TenantExportInput"
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/TenantExport"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: platform.manage
      x-audit:
        text: Queued {format} data export for {tenant}
        category: Security
  /backup/points:
    get:
      operationId: getBackupPoints
      tags:
        - Backup
      summary: Restore points, newest first
      parameters:
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          description: Items per page (max 100, default 25).
          schema:
            type: integer
      responses:
        "200":
          description: Paginated list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BackupPoint"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
                  links:
                    type: object
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: platform.view
  /backup/restores:
    get:
      operationId: getBackupRestores
      tags:
        - Backup
      summary: Restores, most recently staged first
      parameters:
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          description: Items per page (max 100, default 25).
          schema:
            type: integer
      responses:
        "200":
          description: Paginated list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Restore"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
                  links:
                    type: object
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: platform.view
    post:
      operationId: postBackupRestores
      tags:
        - Backup
      summary: Stage a restore (needs a second staff member to approve)
      description: Give either `point_id` or `pitr_date` + `pitr_time` (point-in-time recovery within the WAL window, replayed from the nearest snapshot before the target). Only one restore may be staged, approved or running at a time (422 `restore`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StageRestoreInput"
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Restore"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: platform.manage
      x-audit:
        text: Staged {dry-run|live} restore of {scope} ← {source}
        category: Security
  /backup/restores/{id}/approve:
    post:
      operationId: postBackupRestoresByIdApprove
      tags:
        - Backup
      summary: Approve a staged restore and queue it
      description: The staff member who staged the restore can never approve it (403). 422 when the restore is no longer staged.
      parameters:
        - name: id
          in: path
          required: true
          description: Restore id, e.g. `rs_…`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Restore"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: platform.manage
      x-audit:
        text: Approved {dry-run|live} restore of {scope} ← {source}
        category: Security
  /backup/restores/{id}/cancel:
    post:
      operationId: postBackupRestoresByIdCancel
      tags:
        - Backup
      summary: Cancel a staged restore
      parameters:
        - name: id
          in: path
          required: true
          description: Restore id, e.g. `rs_…`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Restore"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: platform.manage
      x-audit:
        text: Cancelled staged restore of {scope} ← {source}
        category: Security
  /backup/run:
    post:
      operationId: postBackupRun
      tags:
        - Backup
      summary: Take a manual snapshot of every tenant database
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type:
                    - string
                    - "null"
                  maxLength: 80
                  description: Operator note, e.g. "before pricing migration".
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/BackupPoint"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: platform.manage
      x-audit:
        text: Started a manual platform backup
        category: Security
  /backup/settings:
    get:
      operationId: getBackupSettings
      tags:
        - Backup
      summary: Backup policy
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/BackupSettings"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: platform.view
    patch:
      operationId: patchBackupSettings
      tags:
        - Backup
      summary: Update the backup policy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BackupSettingsUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/BackupSettings"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: platform.manage
      x-audit:
        text: "Updated backup policy: {changes} · Enabled/Disabled backup immutability lock (WORM) · Enabled/Disabled cross-region backup replication"
        category: Security
  /badges:
    get:
      operationId: getBadges
      tags:
        - Shell
      summary: Navigation badge counts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/NavBadges"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: authenticated
  /billing/dunning:
    get:
      operationId: getBillingDunning
      tags:
        - Billing
      summary: Past-due invoices and the retry policy
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/DunningQueue"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.view
  /billing/invoices:
    get:
      operationId: getBillingInvoices
      tags:
        - Billing
      summary: List invoices, newest first
      parameters:
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          description: Items per page (max 100, default 25).
          schema:
            type: integer
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - Paid
              - Past due
              - Waived
        - name: focus
          in: query
          required: false
          description: Invoice id; when `page` is omitted, returns the page containing it.
          schema:
            type: string
      responses:
        "200":
          description: Paginated list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Invoice"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
                  links:
                    type: object
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.view
  /billing/invoices/{id}/dunning:
    put:
      operationId: putBillingInvoicesByIdDunning
      tags:
        - Billing
      summary: Pause or resume dunning retries
      description: 422 unless the invoice is Past due. No audit entry when the state is unchanged.
      parameters:
        - name: id
          in: path
          required: true
          description: Invoice id, e.g. `in_20260818`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - paused
              properties:
                paused:
                  type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Invoice"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: Paused/Resumed dunning for {tenant} ({number})
        category: Billing
  /billing/invoices/{id}/retry:
    post:
      operationId: postBillingInvoicesByIdRetry
      tags:
        - Billing
      summary: Retry a failed charge
      description: Marks the invoice Paid; the tenant leaves Past due once it has no past-due invoices left. 422 unless the invoice is Past due.
      parameters:
        - name: id
          in: path
          required: true
          description: Invoice id, e.g. `in_20260818`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Invoice"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: Retried failed charge for {tenant} — ${amount} collected
        category: Billing
  /billing/invoices/{id}/waive:
    post:
      operationId: postBillingInvoicesByIdWaive
      tags:
        - Billing
      summary: Waive a past-due invoice
      description: Marks the invoice Waived; the tenant leaves Past due once it has no past-due invoices left. 422 unless the invoice is Past due.
      parameters:
        - name: id
          in: path
          required: true
          description: Invoice id, e.g. `in_20260818`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Invoice"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: Waived ${amount} invoice {number} for {tenant}
        category: Billing
  /billing/overages:
    get:
      operationId: getBillingOverages
      tags:
        - Billing
      summary: Usage overages for the current metering period
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/OverageList"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.view
  /billing/overages/{id}/bill:
    post:
      operationId: postBillingOveragesByIdBill
      tags:
        - Billing
      summary: Add an overage to the tenant’s next invoice
      parameters:
        - name: id
          in: path
          required: true
          description: Overage id, e.g. `ov_1`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Overage"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: Added ${amount} {meter} overage to {tenant}’s next invoice
        category: Billing
  /billing/plan-features/{key}/plans/{plan}:
    put:
      operationId: putBillingPlanFeaturesByKeyPlansByPlan
      tags:
        - Billing
      summary: Include or remove a feature from a plan
      parameters:
        - name: key
          in: path
          required: true
          description: Plan feature key, e.g. `sso`.
          schema:
            type: string
        - name: plan
          in: path
          required: true
          schema:
            type: string
            enum:
              - Launch
              - Growth
              - Scale
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - included
              properties:
                included:
                  type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/PricingConfig"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: Included {feature} in the {plan} plan · Removed {feature} from the {plan} plan
        category: Billing
  /billing/pricing:
    get:
      operationId: getBillingPricing
      tags:
        - Billing
      summary: Plans, prices, add-ons and plan features
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/PricingConfig"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.view
    put:
      operationId: putBillingPricing
      tags:
        - Billing
      summary: Update prices, annual discount, trial length and add-on prices
      description: "All keys optional. `rollout`: `new_signups` (default — existing tenants keep their locked-in price) or `migrate_all` (every tenant on a changed plan moves to the new price). One audit entry per actual change."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PricingUpdateInput"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/PricingUpdateResult"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: Changed {plan} plan price from ${a} to ${b} (new signups only | migrated {n} tenants) · Changed annual billing discount from {a}% to {b}% · Changed {add-on} add-on price from ${a} to ${b}/mo · Changed free trial length from {a} to {b} days
        category: Billing
  /billing/promos:
    get:
      operationId: getBillingPromos
      tags:
        - Billing
      summary: Active promo codes, oldest first
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PromoCode"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.view
    post:
      operationId: postBillingPromos
      tags:
        - Billing
      summary: Create a promo code
      description: The code (3–20 letters or digits) is trimmed and upper-cased; 422 if it duplicates an active code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PromoInput"
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/PromoCode"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: Created promo code {code} ({percent}% off · {duration})
        category: Billing
  /billing/promos/{id}:
    delete:
      operationId: deleteBillingPromosById
      tags:
        - Billing
      summary: Deactivate a promo code
      parameters:
        - name: id
          in: path
          required: true
          description: Promo code id, e.g. `pc_launch30`.
          schema:
            type: string
      responses:
        "204":
          description: No content.
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: Deactivated promo code {code}
        category: Billing
  /billing/revenue:
    get:
      operationId: getBillingRevenue
      tags:
        - Billing
      summary: MRR/ARR, last month’s movement, churn reasons and payouts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/RevenueSummary"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.view
  /entitlements:
    get:
      operationId: getEntitlements
      tags:
        - Entitlements
      summary: Entitlement matrix
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/EntitlementMatrix"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: platform.view
    put:
      operationId: putEntitlements
      tags:
        - Entitlements
      summary: Set module × plan cells
      description: A value equal to the plan default removes the override. Core modules cannot be changed (422). Validation errors are keyed `cells.{i}.module_id` / `.plan` / `.enabled`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cells
              properties:
                cells:
                  type: array
                  minItems: 1
                  items:
                    $ref: "#/components/schemas/EntitlementCellInput"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/EntitlementMatrix"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: platform.manage
      x-audit:
        text: "{module} added to / removed from the {plan} plan (one entry per changed cell)"
        category: Flags
  /entitlements/limits:
    get:
      operationId: getEntitlementsLimits
      tags:
        - Entitlements
      summary: Plan limits (0 = unlimited)
      description: "`live_room_minutes` is managed on the Video & storage screen (`managed_by: media`)."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/PlanLimit"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: platform.view
  /entitlements/overrides:
    delete:
      operationId: deleteEntitlementsOverrides
      tags:
        - Entitlements
      summary: Reset all overrides to plan defaults
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/EntitlementMatrix"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `platform.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: platform.manage
      x-audit:
        text: Reset {n} entitlement override(s) to plan defaults (only when there were any)
        category: Flags
  /extensions:
    get:
      operationId: getExtensions
      tags:
        - Extensions
      summary: Extension catalogue with installs and MRR
      parameters:
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          description: Items per page (max 100, default 25).
          schema:
            type: integer
      responses:
        "200":
          description: Paginated list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Extension"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
                  links:
                    type: object
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.view
  /extensions/{key}:
    get:
      operationId: getExtensionsByKey
      tags:
        - Extensions
      summary: Extension detail
      parameters:
        - name: key
          in: path
          required: true
          description: Extension key, e.g. `ai`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Extension"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.view
    patch:
      operationId: patchExtensionsByKey
      tags:
        - Extensions
      summary: Change price or hide/publish in the catalogue
      parameters:
        - name: key
          in: path
          required: true
          description: Extension key, e.g. `ai`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExtensionUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Extension"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: Changed {name} price from {old} to {new}/mo (USD) · Hid/Published {name} from/in the extension catalogue
        category: Billing
  /extensions/{key}/plans:
    put:
      operationId: putExtensionsByKeyPlans
      tags:
        - Extensions
      summary: Set which plans get the extension free
      description: Writes the shared plan-inclusion table used by Plan entitlements and every tenant’s extension list.
      parameters:
        - name: key
          in: path
          required: true
          description: Extension key, e.g. `ai`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - plans
              properties:
                plans:
                  type: array
                  items:
                    type: string
                    enum:
                      - Launch
                      - Growth
                      - Scale
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Extension"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: "{name}: included free on {plans} · {name}: now charged on {plans}"
        category: Billing
  /extensions/export:
    get:
      operationId: getExtensionsExport
      tags:
        - Extensions
      summary: Export installs and MRR per extension as CSV
      responses:
        "200":
          description: File download (`extension-revenue.csv`).
          headers:
            Content-Disposition:
              schema:
                type: string
          content:
            text/csv:
              schema:
                type: string
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.view
      x-audit:
        text: Exported extension revenue for {n} extensions
        category: Billing
  /extensions/settings:
    get:
      operationId: getExtensionsSettings
      tags:
        - Extensions
      summary: Bundle, trial and selling rules
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/ExtensionSettings"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.view
    patch:
      operationId: patchExtensionsSettings
      tags:
        - Extensions
      summary: Update bundle price, trial length or selling rules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExtensionSettingsUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/ExtensionSettings"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: billing.manage
      x-audit:
        text: Changed all-access bundle price from {old} to {new}/mo (USD) · Set the extension free trial to {n} days · Turned on/off extension selling rule "{rule}"
        category: Billing
  /extensions/summary:
    get:
      operationId: getExtensionsSummary
      tags:
        - Extensions
      summary: Extension revenue KPIs
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/ExtensionSummary"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `billing.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: billing.view
  /governance/abuse-signals:
    get:
      operationId: getGovernanceAbuseSignals
      tags:
        - Governance
      summary: Unresolved abuse signals
      description: Sorted by severity, then newest.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AbuseSignal"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `governance.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: governance.view
  /governance/abuse-signals/{id}/action:
    post:
      operationId: postGovernanceAbuseSignalsByIdAction
      tags:
        - Governance
      summary: Apply a signal's recommended action
      description: "`raise_limit` doubles the tenant’s API per-minute limit; `freeze_checkout` blocks new card payments. 422 if already handled."
      parameters:
        - name: id
          in: path
          required: true
          description: Signal id, e.g. `as_1`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/AbuseActionResult"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `governance.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: governance.manage
      x-audit:
        text: "{action} applied to {tenant}"
        category: Security
  /governance/abuse-signals/{id}/dismiss:
    post:
      operationId: postGovernanceAbuseSignalsByIdDismiss
      tags:
        - Governance
      summary: Dismiss an abuse signal
      parameters:
        - name: id
          in: path
          required: true
          description: Signal id, e.g. `as_3`.
          schema:
            type: string
      responses:
        "204":
          description: No content.
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `governance.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: governance.manage
      x-audit:
        text: "Dismissed abuse signal for {tenant}: {signal}"
        category: Security
  /governance/blocked-ips:
    get:
      operationId: getGovernanceBlockedIps
      tags:
        - Governance
      summary: Blocked IPs, newest first
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/BlockedIp"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `governance.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: governance.view
    post:
      operationId: postGovernanceBlockedIps
      tags:
        - Governance
      summary: Block an IP or CIDR range
      description: IPv4, IPv6 or CIDR; stored lower-cased. 422 if invalid or already blocked. Reason defaults to "Blocked manually".
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ip
              properties:
                ip:
                  type: string
                reason:
                  type: string
                  maxLength: 120
      responses:
        "201":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/BlockedIp"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `governance.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: governance.manage
      x-audit:
        text: Blocked IP {ip}
        category: Security
  /governance/blocked-ips/{id}:
    delete:
      operationId: deleteGovernanceBlockedIpsById
      tags:
        - Governance
      summary: Unblock an IP
      parameters:
        - name: id
          in: path
          required: true
          description: Blocked IP id, e.g. `ip_1`.
          schema:
            type: string
      responses:
        "204":
          description: No content.
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `governance.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: governance.manage
      x-audit:
        text: Unblocked IP {ip}
        category: Security
  /governance/compliance:
    get:
      operationId: getGovernanceCompliance
      tags:
        - Governance
      summary: Compliance KPIs
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/ComplianceSummary"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `governance.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: governance.view
  /governance/dsars:
    get:
      operationId: getGovernanceDsars
      tags:
        - Governance
      summary: Data subject requests
      description: Open requests first (most urgent due date first), then fulfilled (most recent first).
      parameters:
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
        - name: per_page
          in: query
          required: false
          description: Items per page (max 100, default 25).
          schema:
            type: integer
        - name: status
          in: query
          required: false
          description: Omit for all requests.
          schema:
            type: string
            enum:
              - open
              - fulfilled
      responses:
        "200":
          description: Paginated list.
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Dsar"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
                  links:
                    type: object
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `governance.view`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - sanctumSession: []
      x-permission: governance.view
  /governance/dsars/{id}/fulfil:
    post:
      operationId: postGovernanceDsarsByIdFulfil
      tags:
        - Governance
      summary: Mark a data subject request fulfilled
      description: For a Deletion request this erases the personal data. 422 if already fulfilled.
      parameters:
        - name: id
          in: path
          required: true
          description: Request id, e.g. `ds_1`.
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: "#/components/schemas/Dsar"
                additionalProperties: false
        "401":
          description: Not signed in or session expired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Missing permission `governance.manage`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
      security:
        - sanctumSession: []
      x-permission: governance.manage
      x-audit:
[...]
